html,
body {
    margin: 0;
    padding: 0;
    background-color: #252525;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {    
    /* display: block; */
    /* add a shadow */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

